* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
  transition: 0.3s;
}

nav {
  background: #222;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: #4f9cff;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #4f9cff;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #287bdc;
}

.hero {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 30px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin-bottom: 25px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Dark mode */

body.dark {
  background: #121212;
  color: white;
}

body.dark .hero p {
  color: #bbb;
}